/* import loading.css loacted in styles/loading.css */
@import url('./loading.css');
@import url('./fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


.card-background {
  background-image: url('/images/london.jpg'); /* Add the path to your background image here */
  background-size: cover;
  background-position: center;
}



.block-feature-three .block-one .block-title {
  background: url(/images/shape_02.7ee82756.svg) no-repeat 100% 0;
  background-size: cover;
  border-radius: 25px;
  padding: 12px 0 18px 18px;
}

/* styles/globals.css */




@font-face {
  font-family: "ibm_plex_sans_condensed";
  src: url("/public/fonts/ibm_plex_sans_condensed/IBMPlexSansCondensed-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/public/fonts/inter/inter-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/public/fonts/inter/inter-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* :root {
  --font-ibm_plex_sans_condensed: 'IBMPlexSansCondensed-Regular', sans-serif;
  scroll-behavior: smooth;
  
  } */

html {
  font-family: var(--font-ibm_plex_sans_condensed);
  scroll-behavior: smooth;
  font-size: 16px;
}
/* :root {
  --font-inter: 'Inter', sans-serif;
}

html {
  font-family: var(--font-inter);
} */

/* 
.outline-title {
  font-family: sans-serif;
     color: white;
     text-shadow:
         1px 1px 0 #000,
       -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
        font-size: 250px;
  } */
